<!-- <p>style-panel works!</p> -->

<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> General Style </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <!-- ---------------------- -->

  <!-- <ng-container *ngFor="let styles of arrStyleEntreis[0]">
    <div *ngIf="styles[1]">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Style {{ styles[0] }}</mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          {{ styles[1] | json }}<textarea [(ngModel)]="styles[1]"> </textarea>
        </p>
      </mat-expansion-panel>
    </div>
  </ng-container> -->
  <!-- fieldsIsRenered -->
  <!-- ---------------------- -->
  <ng-container *ngFor="let styles of arrStyleEntreis; let i = index">
    <div>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Style {{ styles[0] }}</mat-panel-title>
        </mat-expansion-panel-header>
        <form #formnative>
          <label *ngFor="let property of objectEntriesStyles(styles[1])">
            {{ property[0] }}: <br /><input
              name="{{ property[0] }}"
              [value]="property[1]" /><br /></label
          ><br />
          <button (click)="changeProperty($event, styles[0])" type="button">
            Change!
          </button>
        </form>
      </mat-expansion-panel>
    </div>
  </ng-container>
  <!-- ===----------------------------------------========= -->
  <!-- #propertyForm="ngForm" (ngSubmit)="changeProperty(propertyForm)" -->
  <!-- <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Any Style </mat-panel-title>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel> -->
</mat-accordion>
<!-- -------------- -->
<!-- [ngForOf]='entObj()' -->
