<!-- <p>style-panel works!</p> -->

<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> General Style </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <ng-container *ngFor="let styles of arrStyleEntreis; let i = index">
    <div>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Style {{ styles[0] }}</mat-panel-title>
        </mat-expansion-panel-header>
        <form #formnative>
          <div *ngIf="styles[0].split('-')[0] === 'select'">
            <input name="selectname" /><input name="selectvalue" />
          </div>
          <div *ngIf="styles[0].split('-')[0] !== 'button'">
            <label
              >placeholder text: <br /><input
                name="placeholder"
                [value]="styles[2].placeholder"
            /></label>
            <br />
            <label
              >required input? <br />
              <input name="required" [value]="styles[2].required"
            /></label>
          </div>
          <label *ngFor="let property of objectEntriesStyles(styles[1])">
            {{ property[0] }}: <br /><input
              name="{{ property[0] }}"
              [value]="property[1]" /><br /></label
          ><br />
          <button (click)="changeProperty($event, styles[0])" type="button">
            Change!
          </button>
        </form>
      </mat-expansion-panel>
    </div>
  </ng-container>
</mat-accordion>
