<!-- <app-component-name-m></app-component-name-m> -->
<div class="head">
  <ul class="nav">
    <li><a routerLinkActive="activelink" [routerLink]="['/sdk']">SDK</a></li>
    <li>
      <a routerLinkActive="activelink" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">LogIn</a>
    </li>
    <li>
      <a routerLinkActive="activelink" routerLink="/register">Register</a>
    </li>
    <li>
      <a routerLinkActive="activelink" routerLink="/http-client">Http-client</a>
    </li>
  </ul>
</div>
