$color-1: #000000;
$color-2: #f31d42;
$color-2-hover: #92060D;
$color-2-active: #C52B33;
$color-3: #fff;
$color-4: #E0E0E0;
$color-5: #F1D261;
$color-6: #BDBDBD;
$color-7: #26B52B;
$color-8: #E2E3E3;
$color-9: #F21D42;
$color-10: #E81C3F;

$text-color-1: #000000;
$text-color-2: #F31D42;
$text-color-3: #ffffff;
$text-color-4: #e0e0e0;
$text-color-5: #F1D261;
$text-color-6: #828282;
$text-color-7: #26B52B;
$text-color-8: #e2e3e3;
$text-color-9: #ee1c41;
$text-color-10: #F21D42;

