<div class="dashboard-container">
  <h3 class="dashboard-container__title">Title</h3>
  <p class="dashboard-container__describe">Discribe</p>
  <div class="dashboard-widgets">
    <div class="dashboard-widgets__item">
      <mat-icon> call</mat-icon>
      <p>text</p></div>
    <div class="dashboard-widgets__item">
      <mat-icon> share</mat-icon>
      <p>share</p></div>
    <div class="dashboard-widgets__item">
      <mat-icon> bookmark_border</mat-icon>
      <p>save</p></div>
  </div>
</div>
