<!-- <p #ref1>cdk-portal works!</p>
<ng-template #ref2>Hello, this is a template portal</ng-template> -->
<h2>CDK Portal</h2>
<input [(ngModel)]="superValue" (ngModelChange)="onNameChange($event)" />

<!-- <button (click)="portalOpenCard()">Open card</button>
<button (click)="portalCloseCard()" class="margin-left-8">Close card</button> -->
<div>
  <div class="portals-outlet">
    <ng-container #virtualContainer cdkPortalOutlet> </ng-container>
  </div>

  <div class="portals-outlet">
    <ng-container #virtualContainer2 cdkPortalOutlet> </ng-container>
  </div>

  <div class="portals-outlet">
    <ng-container #virtualContainer3 cdkPortalOutlet> </ng-container>
  </div>
</div>

<!-- cdkDrag -->

<div #ref3 class="example-container">
  <h5>Drag section</h5>
  <ng-template></ng-template>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="drag"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <!-- <div class="example-box" *ngFor="let item of drag" cdkDrag>
      <input [type]="item" [value]="item" />
    </div> -->
    <div class="example-box" *ngFor="let item of drag" cdkDrag>
      <div [ngSwitch]="item">
        <div *ngSwitchCase="'checkbox'"><app-checkbox></app-checkbox></div>
        <div *ngSwitchCase="'button'"><app-button></app-button></div>
        <div *ngSwitchCase="'input'"><app-input></app-input></div>
        <div *ngSwitchCase="'textarea'">
          <app-textarea></app-textarea>
        </div>
        <div *ngSwitchCase="'select'"><app-select></app-select></div>
      </div>
    </div>
    <!-- ===== -->
  </div>
</div>

<div [formGroup]="form" #ref4 class="example-container">
  <h5>Drop section</h5>
  <!-- <input formControlName="name2" /> -->

  <!-- <input-cva-component
    [styleArray]="placehold"
    formControlName="name1"
  ></input-cva-component> -->

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="droper"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <!-- <div class="example-box" *ngFor="let item of droper" cdkDrag>
      {{ item }}
    </div> -->

    <div class="example-box" *ngFor="let item of droper" cdkDrag>
      <div [ngSwitch]="item">
        <div *ngSwitchCase="'checkbox'">
          <app-checkbox [isDrop]="true"></app-checkbox>
        </div>
        <div *ngSwitchCase="'button'">
          <app-button [isDrop]="true"></app-button>
        </div>
        <div *ngSwitchCase="'input'">
          <app-input [isDrop]="true"></app-input>
        </div>
        <div *ngSwitchCase="'textarea'">
          <app-textarea
            [stylesSheet_Textarea]="stylesSheet_Textarea"
            [superValue]="superValue"
            formControlName="name3"
            [isDrop]="true"
          ></app-textarea>
        </div>
        <div *ngSwitchCase="'select'">
          <app-select [isDrop]="true"></app-select>
        </div>
      </div>
    </div>
    <!-- ==== -->
  </div>
  <button (click)="getForm()">GET!</button>
</div>
